cookiecutter
crispy-tailwind
dj-database-url
Django
django-allauth
django-browser-reload
django-crispy-forms
django-filter
django-tailwind
django-tinymce
djangorestframework
Jinja2
numpy
opencv-contrib-python
opencv-python
sweetify
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-gpu
tensorflow-io-gcs-filesystem
whitenoise


