{% load compress %}
{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--Device size responsiveness-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="MobileOptimized" content="320">

    <!--SEO stuff-->
    <link rel='shortlink' href=''/>
    <link rel="canonical" href=""/>
    <meta property="og:title" content="Brainy Fool Project">
    <meta property="og:description" content="Facial Expression detect & feedback">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="twitter:card" content="summary_large_image"/>

    <meta name="description" content="Service--Likhte hobe">
    <meta name="keywords" content="software,">
    <meta name="author" content="abdullahmasum6035@gmail.com">
    <!--for icon-->
    {% block head_favicon %}

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

    {% endblock head_favicon %}

    {% block head_css %}

        {% compress css %}
            <link rel="stylesheet" href="{% static 'src/output.css' %}">
        {% endcompress %}

        {% block head_css_site %}

        {% endblock head_css_site %}

        {% block head_css_section %}
            {# custom written for specific page #}
        {% endblock head_css_section %}

        {% block head_css_page %}
            <!-- Alertify CSS -->
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
            <!-- Default theme -->
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
            <!-- Semantic UI theme -->
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
            <!-- Bootstrap theme -->
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
            <!-- font for tailwind UI -->
            <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
            <!--  for tailbox -->
            <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

        {% endblock head_css_page %}

        {% block custom_css %}

        {% endblock custom_css %}

    {% endblock head_css %}
    <!--for title-->
    <title>
        {% block title %}
            {% if projectInfo == "Shell Tracking" %}
                {{ projectInfo }}
            {% else %}
                I❤IDP
            {% endif %}
        {% endblock title %}
    </title>
</head>

{% block page_loader %}

{% endblock page_loader %}


{% block body_content %}
    {% block body_tag %}
        <body>
    {% endblock body_tag %}

{% block header_nav_bar %}
    <!-- Navbar -->

    <!-- Navbar -->
{% endblock header_nav_bar %}

{% block navbar_style %}

{% endblock navbar_style %}

{% block sidebar_nav_bar %}

{% endblock sidebar_nav_bar %}

{% block main_content %}

{% endblock main_content %}

{% block inner_body_content %}

{% endblock inner_body_content %}

</body>
{% endblock body_content %}

{% block footer_javascript %}
    {% block footer_javascript_site %}
        <!-- flowbite plugin for tailwindCSS -->
        <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>

        <!-- Alpine JS for Kutty plugin of tailwindCSS -->
        <script src="https://cdn.jsdelivr.net/npm/kutty@latest/dist/kutty.min.js"></script>
        <!-- Tailwind Elements plugin of tailwindCSS -->
        <script src="./node_modules/tw-elements/dist/js/index.min.js"></script>

        <!--for font-awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <!--for ajax-jquery-->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <!-- for sweet-alert2-->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- for Alertify JS -->
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <!--for Google Recptcha-->
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <!-- Google Tag Manager -->
        <script>
            setTimeout(function () {
                <!-- Google Tag Manager -->
                (function (w, d, s, l, i) {
                    w[l] = w[l] || [];
                    w[l].push({
                        'gtm.start':
                            new Date().getTime(), event: 'gtm.js'
                    });
                    var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l !== 'dataLayer' ? '&l=' + l : '';
                    j.async = true;
                    j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                    f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-5PSHBNC');
            }, 4000);
        </script>
        <!-- End Google Tag Manager -->
        <!-- Google Tag Manager (no-script) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5PSHBNC"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endblock footer_javascript_site %}

    {% block footer_javascript_section %}

        {# custom written js for specific page #}
        <script>
            setTimeout(function () {
                if ($('#msg').length > 0) {
                    $('#msg').remove();
                }
            }, 6000)
        </script>
    {% endblock footer_javascript_section %}

    {% block footer_javascript_page %}
        <!--for Alertify js msg-->
        <script>
            {% for msg in messages %}
                alertify.set('notifier', 'position', 'top-center');
                alertify.success(msg + alertify.get('notifier', 'position'));
            {% endfor %}
        </script>
    {% endblock footer_javascript_page %}
{% endblock footer_javascript %}
</html>

<!--author: Masum (the superman)-->