{% load static %}
{% load socialaccount %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Device size responsiveness-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="MobileOptimized" content="320">

    <!--SEO stuff-->
    <link rel='shortlink' href=''/>
    <link rel="canonical" href=""/>
    <meta property="og:title" content="Brainy Fool Project">
    <meta property="og:description" content="Facial Expression detect & feedback">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="twitter:card" content="summary_large_image"/>

    <meta name="description" content="Service--Likhte hobe">
    <meta name="keywords" content="software,">
    <meta name="author" content="abdullahmasum6035@gmail.com">
    <!--for icon-->
    {% block head_favicon %}

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

    {% endblock head_favicon %}

    {% block head_css %}
        {% tailwind_css %}

        {% block head_css_site %}
            {# bootstrap type link #}
        {% endblock head_css_site %}
        {% block head_css_section %}
            {# custom written for specific page #}
            <style>
                @font-face {
                    font-family: swiper-icons;
                    src: url("{% static 'fonts/Swiper-Icon/swiper-icons.ttf' %}") format("truetype");
                    font-weight: 400;
                    font-style: normal
                }

                @font-face {
                    font-family: SuisseIntl;
                    src: url("{% static 'fonts/SuisseIntl-Regular/SuisseIntl-Regular.woff2' %}");
                    src: local("SuisseIntl-Regular"),
                    url("{% static 'fonts/SuisseIntl-Regular/SuisseIntl-Regular.woff2' %}") format("woff2");
                    font-weight: 400;
                    font-style: normal;
                    font-display: swap
                }

                @font-face {
                    font-family: SuisseIntl;
                    src: url('{% static 'fonts/SuisseIntl-SemiBold/SuisseIntl-SemiBold.woff2' %}');
                    src: local("SuisseIntl-SemiBold"),
                    url("{% static 'fonts/SuisseIntl-SemiBold/SuisseIntl-SemiBold.woff2' %}") format("woff2");
                    font-weight: 600;
                    font-style: normal;
                    font-display: swap
                }
            </style>
        {% endblock head_css_section %}
        {% block head_css_page %}
            <!--for custom-css-page-->
            {#            <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css"/>#}
            <!-- Alertify CSS -->
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
            <!-- Default theme -->
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
            <!-- Semantic UI theme -->
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
            <!-- Bootstrap theme -->
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
        {% endblock head_css_page %}

        {% block custom_css %}

        {% endblock custom_css %}
    {% endblock head_css %}
    <!--for title-->
    <title>
        {% block title %}
            {% if projectInfo == "Shell Tracking" %}
                {{ projectInfo }}
            {% else %}
                I❤IDP
            {% endif %}
        {% endblock title %}
    </title>
</head>

{% block page_loader %}

{% endblock page_loader %}


{% block body_content %}
    {% block body_tag %}
        <body>
    {% endblock body_tag %}

{% block header_nav_bar %}
    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/favicon/favicon-32x32.png' %}" alt="" width="32" height="32"
                     class="d-inline-block align-text-top">
                IDP Group-09
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign-Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign-In</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Choose Options
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">YOLOv5</a></li>
                            <li><a class="dropdown-item" href="#">Optical Flow</a></li>
                            <li><a class="dropdown-item" href="#">Stereo Vision</a></li>
                            <li><a class="dropdown-item" href="#">3D Plotting</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
{% endblock header_nav_bar %}

{% block navbar_style %}
    <style>
        .navigation > .navigation__logo,
        .navigation__item {
            color: #00ff00;
        }

        .navigation__item_active {
            color: #445aec;
        }

        @media only screen {
            .navigation__item:hover {
                color: #445aec;
            }
        }
    </style>
{% endblock navbar_style %}
{% block sidebar_nav_bar %}

{% endblock sidebar_nav_bar %}

{% block main_content %}

{% endblock main_content %}

{% block inner_body_content %}

{% endblock inner_body_content %}

</body>
{% endblock body_content %}

{% block footer_javascript %}
    {% block footer_javascript_site %}
        <!-- Bootstrap JavaScript Bundle with Popper -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>

        <!--for font-awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <!--for ajax-jquery-->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <!-- for sweet-alert2-->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- for Alertify JS -->
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <!--for Google Recptcha-->
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <!-- Google Tag Manager -->
        <script>
            setTimeout(function () {
                <!-- Google Tag Manager -->
                (function (w, d, s, l, i) {
                    w[l] = w[l] || [];
                    w[l].push({
                        'gtm.start':
                            new Date().getTime(), event: 'gtm.js'
                    });
                    var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                    j.async = true;
                    j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                    f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-5PSHBNC');
            }, 4000);
        </script>
        <!-- End Google Tag Manager -->
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5PSHBNC"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endblock footer_javascript_site %}

    {% block footer_javascript_section %}

        {# custom written js for specific page #}
        <script>
            setTimeout(function () {
                if ($('#msg').length > 0) {
                    $('#msg').remove();
                }
            }, 6000)
        </script>
    {% endblock footer_javascript_section %}

    {% block footer_javascript_page %}
        <!--for Alertify js msg-->
        <script>
            {% for msg in messages %}
                alertify.set('notifier', 'position', 'top-center');
                alertify.success(msg + alertify.get('notifier', 'position'));
            {% endfor %}
        </script>
    {% endblock footer_javascript_page %}
{% endblock footer_javascript %}
</html>

<!--author: Masum (the superman)-->