{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/style_for_signup.css' %}">
{% endblock custom_css %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>Cute Robot</title>#}
{##}
{#    <!-- Font Icon -->#}
{#    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-fonts.min.css' %}">#}
{##}
{#    <!-- Main css -->#}
{#    <link rel="stylesheet" href="{% static 'css/style_for_signup.css' %}">#}
{#</head>#}
{#<body>#}

{% block main_content %}

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {% csrf_token %}
                                <input type="text" name="name" id="name" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                {% csrf_token %}
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                {% csrf_token %}
                                <input type="password" name="pass" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                {% csrf_token %}
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group form-check">
                                {% csrf_token %}
                                <input class="form-check-input" type="checkbox" value="ok" id="flexCheckDefault">

                                <label class="form-check-label" for="flexCheckDefault">I agree all statements in <a href="#" class="form-check-label">Terms of service</a>
                                </label>
                            </div>
                            <div class="form-group form-button">
                                {% csrf_token %}
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/sign_up/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'sign_in' %}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock main_content %}
