{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% load static %}

{% block head_css_site %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css"/>
{% endblock head_css_site %}

{% block main_content %}
    <div class="flex flex-row min-h-screen justify-center items-center">
        <div class="flex items-center justify-center align-center place-items-center place-content-center min-w-max min-h-screen">
            <ul class="stepper" data-mdb-stepper="stepper" data-mdb-stepper-type="vertical">
                <li class="stepper-step stepper-active">
                    <div class="stepper-head">
                        <span class="stepper-head-icon"> 1 </span>
                        <span class="stepper-head-text"> step1 </span>
                    </div>
                    <div class="stepper-content">

{#                        <form enctype="multipart/form-data" method="POST" action="">#}
{#                            {% csrf_token %}#}
{#                            <label class="block mb-2 text-md font-medium text-gray-900 dark:text-gray-300"#}
{#                                   for="file_input">#}
{#                                Upload Video file</label>#}
{#                            <input class="form-control block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"#}
{#                                   aria-describedby="file_input_help" id="fileupload" type="file">#}
{#                            <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">mpeg, mp4, avi#}
{#                                or any type of video format can be uploaded</p>#}
{#                            <div class="flex justify-center form-control">#}
{#                                <button type="button" id="submit"#}
{#                                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">#}
{#                                    <svg width="20" height="20" fill="currentColor" class="mr-2" viewBox="0 0 1792 1792"#}
{#                                         xmlns="http://www.w3.org/2000/svg">#}
{#                                        <path d="M1344 1472q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm256 0q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm128-224v320q0 40-28 68t-68 28h-1472q-40 0-68-28t-28-68v-320q0-40 28-68t68-28h427q21 56 70.5 92t110.5 36h256q61 0 110.5-36t70.5-92h427q40 0 68 28t28 68zm-325-648q-17 40-59 40h-256v448q0 26-19 45t-45 19h-256q-26 0-45-19t-19-45v-448h-256q-42 0-59-40-17-39 14-69l448-448q18-19 45-19t45 19l448 448q31 30 14 69z">#}
{#                                        </path>#}
{#                                    </svg>#}
{#                                    Upload#}
{#                                </button>#}
{#                            </div>#}
{#                        </form>#}
{#                        <div id="uploaded_files"></div>#}

                        {#                        <div class="flex justify-center items-center w-full">#}
                        {#                            <label for="dropzone-file"#}
                        {#                                   class="flex flex-col justify-center items-center w-full h-64 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">#}
                        {#                                <div class="flex flex-col justify-center items-center pt-5 pb-6">#}
                        {#                                    <svg class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor"#}
                        {#                                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">#}
                        {#                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"#}
                        {#                                              d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>#}
                        {#                                    </svg>#}
                        {#                                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span#}
                        {#                                            class="font-semibold">Click to upload</span> or drag and drop</p>#}
                        {#                                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX.#}
                        {#                                        800x400px)</p>#}
                        {#                                </div>#}
                        {#                                <input id="dropzone-file" type="file" class="hidden">#}
                        {#                            </label>#}
                        {#                        </div>#}
                        {##}
                        {#                        <div class="max-w-xl">#}
                        {#                            <label#}
                        {#                                    class="flex justify-center w-full h-32 px-4 transition bg-white border-2 border-gray-300 border-dashed rounded-md appearance-none cursor-pointer hover:border-gray-400 focus:outline-none">#}
                        {#        <span class="flex items-center space-x-2">#}
                        {#            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="none" viewBox="0 0 24 24"#}
                        {#                 stroke="currentColor" stroke-width="2">#}
                        {#                <path stroke-linecap="round" stroke-linejoin="round"#}
                        {#                      d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"/>#}
                        {#            </svg>#}
                        {#            <span class="font-medium text-gray-600">#}
                        {#                Drop files to Attach, or#}
                        {#                <span class="text-blue-600 underline">browse</span>#}
                        {#            </span>#}
                        {#        </span>#}
                        {#                                <input type="file" name="file_upload" class="hidden">#}
                        {#                            </label>#}
                        {#                        </div>#}

                    </div>
                </li>
                <li class="stepper-step">
                    <div class="stepper-head">
                        <span class="stepper-head-icon"> 2 </span>
                        <span class="stepper-head-text"> step2 </span>
                    </div>
                    <div class="stepper-content">

                        <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Identification</h3>
                        <ul class="w-48 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                            <li class="w-full rounded-t-lg border-b border-gray-200 dark:border-gray-600">
                                <div class="flex items-center pl-3">
                                    <input id="list-radio-license" type="radio" value="" name="list-radio"
                                           class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="list-radio-license"
                                           class="py-3 ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">Driver
                                        License </label>
                                </div>
                            </li>
                            <li class="w-full rounded-t-lg border-b border-gray-200 dark:border-gray-600">
                                <div class="flex items-center pl-3">
                                    <input id="list-radio-id" type="radio" value="" name="list-radio"
                                           class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="list-radio-id"
                                           class="py-3 ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">State
                                        ID</label>
                                </div>
                            </li>
                            <li class="w-full rounded-t-lg border-b border-gray-200 dark:border-gray-600">
                                <div class="flex items-center pl-3">
                                    <input id="list-radio-millitary" type="radio" value="" name="list-radio"
                                           class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="list-radio-millitary"
                                           class="py-3 ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">US
                                        Millitary</label>
                                </div>
                            </li>
                            <li class="w-full rounded-t-lg border-b border-gray-200 dark:border-gray-600">
                                <div class="flex items-center pl-3">
                                    <input id="list-radio-passport" type="radio" value="" name="list-radio"
                                           class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="list-radio-passport"
                                           class="py-3 ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">US
                                        Passport</label>
                                </div>
                            </li>
                        </ul>

                    </div>
                </li>
                <li class="stepper-step">
                    <div class="stepper-head">
                        <span class="stepper-head-icon"> 3 </span>
                        <span class="stepper-head-text"> step3 </span>
                    </div>
                    <div class="stepper-content">
                        <div class="flex justify-center">
                            <button type="button"
                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Proceed Next
                                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock main_content %}

{% block pagewise_javascript_section %}

    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
{#    <script src="{% static 'js/file_uploading.js' %}"></script>#}

{% endblock pagewise_javascript_section %}